body {
  font-family: Arial;
  background: #f1f5f9;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.form, .preview {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}